<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>query_detail</title>
</head>
<body>
<h1>{{ title }}标注查询</h1>



{% if error%}
{{error}}
{% endif%}

{% if name%}
<h2>{{ name }}</h2>
{% endif %}

<div style="margin:15%,40%">
    <form action="/query_{{ati}}detail/" method="post">
        {% csrf_token %}
        <p>
            <label for="id_patient">请输入病人ID</label>
            <input type="text" id="id_patient" name="pid" placeholder="病人ID" value='{{ id }}'>
        </p>
        <p>
            <label for="doctor">请输入标注的医生</label>
            <input type="text" id="doctor_name" list="type_list" name='doctor_name' value='{{doctor}}' placeholder="医生姓名">
            <datalist id="type_list">
                <option>陈飞</option>
                <option>胡伟玲</option>
                <option>杨远航</option>
                <option>张旭</option>
                <option>郑文芳</option>
                <option>胡梦佳</option>
                <option>余涛</option>
                <option>陈睿</option>
                <option>章鑫森</option>
                <option>李晶晶</option>
                <option>林讷</option>
                <option>鄢雪辉</option>
                <option>吕凯琪</option>
                <option>钟兴伟</option>
                <option>刘志红</option>
                <option>李均</option>
                <option>杜平</option>
                <option>张哲</option>
            </datalist>
        </p>
        {% if title == '疾病' %}
        <p>
            <label for="illness_type">请输入疾病类型</label>
            <input type="text" id="illness_type" name="da_type" value="{{da_type}}" placeholder="疾病类型">
        </p>
        {% endif %}
        {% if title == '解剖' %}
        <p>
            <label for="a_type">请输入解剖位置</label>
            <input type="text" id="aill_type" name="da_type" value="{{da_type}}" placeholder="位置类型">
        </p>
        {% endif %}
        <p>
            <label for="illness">请选择标注类型</label>
            <input type="text" id="type" list="bztype" name='bztype' value="{{bz_type}}" placeholder="标注类型">
            <datalist id="bztype">
                <option value="RECTANGLE">Rectangle</option>
                <option value="POLYGON">Polygon</option>
                <option value="HAND">Hand</option>
            </datalist>
        </p>
        <input type="submit" value="查询">
    </form>
</div>
{% if counter%}
<p>共查询到{{counter}}条符合条件的数据</p>
{% endif %}
{% if data %}
<table border="1">
    <tr>
        <td>ImageID</td>
        <td>Type</td>
        <td>标注医生</td>
        <td>患者ID</td>
        <td>患者姓名</td>
        <td>{{title}}类型</td>
        <td>ImagePath</td>
        {% if title == '疾病' %}
        <td>一致性检验（个人觉得没啥用，为了应对实验要求）</td>
        {% endif %}
    </tr> 
{% for iid,itype,idoc,pid,pname,dname,imgpath,yzx in data %}
    <tr>
        <td>{{ iid }}</td>
        <td>{{ itype }}</td>
        <td>{{ idoc }}</td>
        <td>{{ pid }}</td>
        <td>{{ pname }}</td>
        <td>{{ dname }}</td>
        <td>{{ imgpath }}</td>
        {% if title == '疾病' %}
        <td>{{ yzx }}</td>
        {% endif %}
    </tr> 
{% endfor %}
</table>
{% endif%}