<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1-dist/css/bootstrap.css">
    <link rel="icon" href="/static/img/favicon.ico">
    <title>病人信息查询</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1-dist/css/mycss.css">
</head>
<body style="padding-top: 70px;padding-bottom: 70px;">
    <script type="text/javascript" src="/static/plugins/bootstrap-3.4.1-dist/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
<nav class="navbar navbar-inverse navbar-fixed-top ">
    <div class="container navbar-left" style="width: 30%;">
        <div class="navbar-header">
            <a class="navbar-brand" href="/main/">医疗管理系统</a>
            <!--<p class="navbar-text">患者信息查询</p>-->
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/main/">主页</a></li>
                <li class="active"><a href="/query_patient/">患者信息</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">标注记录 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/query_detail/">疾病标注</a></li>
                    <li><a href="/query_adetail/">解剖标注</a></li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="container navbar-right" style="width: 20%;margin-right: 20px;">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li style="margin-right: 20px;"><p class="lip">{{request.user.first_name}},欢迎您</p></li>
                <li><a href="/logout/">退出</a></li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-inverse navbar-fixed-bottom ">
    <div class="container navbar-left" style="width: 45%;">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li style="margin-right: 20px;"><p class="lip"><em>Powered By</em></p></li>
                <li><a href="https://www.djangoproject.com/">Django</a></li>
                <li><a href="https://v3.bootcss.com/">Bootstrap V3</Var></a></li>
            </ul>
        </div>
    </div>
    <div class="container navbar-left" style="width: 15%;">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><p class="lip">2021 Created by Jimmy</p></li>
            </ul>
        </div>
    </div>
    <div class="container navbar-right" style="width: 25%;margin-right: 20px;">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">联系我</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--<h1 style="text-decoration: line-through;">去TMD的查询表单</h1>-->
<div class="container-fluid" style="margin: 0 auto;">
<form id="query" class="form-horizontal">
<div class="col-md-4">
<div class="panel panel-default" style="width: 480px;height: 380px;margin: 0 auto;">
    <div class="panel-heading"><h3 class="panel-title">基础条件</h3></div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-4 control-label" for="id_patient">病人ID</label>
            <input class="form-control" style="width: 200px;" type="text" id="id_patient" name="patientid" placeholder="请输入病人ID" autofocus>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="sex">患者性别</label>
            <select class="form-control" style="width: 200px;" id="sex" list="sex_list" name='sex'>
                <option value="">全部</option>
                <option>男</option>
                <option>女</option>
            </select>
        </div>
        <div class="form-group form-inline">
            <label class="col-sm-4 control-label" for="age">患者年龄范围</label>
            <input class="form-control" type="number" id="ages" name="ages"  min=0 max=120 style="width: 65px;" placeholder="0">
            &nbsp;&nbsp;≤&nbsp;年龄&nbsp;≤&nbsp;
            <input class="form-control" type="number" id="agee" name="agee"  min=0 max=120 style="width: 65px;" placeholder="120">
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="check_date">起始检查时间</label>
            <input class="form-control" style="width: 200px;" type="date" id="date_from" name="datefrom" >
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="check_date">结束检查时间</label>
            <input class="form-control" style="width: 200px;" type="date" id="date_to" name="dateto" >
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="hospital">就诊医院</label>
            <input class="form-control" style="width: 200px;" type="text" id="hospital_name" list="hos_list" name='hospital' placeholder="请选择就诊医院">
            <datalist id="hos_list">
                <option>邵逸夫医院</option>
                <option>浙江大学医学院第二附属医院</option>
                <option>宁波大学附属医院</option>
                <option>上虞人民医院</option>
                <option>浙江省中医院</option>
                <option>杭州市第一人民医院</option>
                <option>台州医院</option>
                <option>丽水中心医院</option>
                <option>余姚人民医院</option>
                <option>宁波李惠利东部医院</option>
                <option>瑞安人民医院</option>
                <option>福建省立医院</option>
                <option>德清医院</option>
                <option>丽水人民医院</option>
                <option>山西省人民医院</option>
                <option>湖州人民医院</option>
                <option>安贞医院</option>
                <option>嘉兴市第一医院</option>
                <option>西安市中心医院</option>
                <option>龙游县人民医院</option>
                <option>兰州二院</option>
                <option>金华市中心医院</option>
                <option>上海市肿瘤医院宁波病理中心</option>
                <option>乐清人民医院</option>
            </datalist>
        </div>
    </div>
</div>
</div>
<div class="col-md-4">
        <div class="panel panel-default" style="width: 480px;height: 380px;margin: 0 auto;">
            <div class="panel-heading"><h3 class="panel-title">高级条件</h3></div>
            <div class="panel-body" style="text-align: center;">
                
        <div class="form-group">
            <label class="col-sm-4 control-label" for="illness_type">疾病类型</label>
            <input class="form-control" style="width: 200px;" type="text" id="illness_type" name="ill_type" placeholder="请输入疾病类型">
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="doctor_name">标注疾病的医生</label>
            <input class="form-control" style="width: 200px;" type="text" id="doctor_name" list="named_list" name='doctor_name' placeholder="请选择医生姓名">
            <datalist id="named_list">
                <option>陈飞</option>
                <option>胡伟玲</option>
                <option>杨远航</option>
                <option>张旭</option>
                <option>郑文芳</option>
                <option>胡梦佳</option>
                <option>余涛</option>
                <option>陈睿</option>
                <option>章鑫森</option>
                <option>李晶晶</option>
                <option>林讷</option>
                <option>鄢雪辉</option>
                <option>吕凯琪</option>
                <option>钟兴伟</option>
                <option>刘志红</option>
                <option>李均</option>
                <option>杜平</option>
                <option>张哲</option>
            </datalist>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="d_type">疾病标注类型</label>
            <select class="form-control" style="width: 200px;" id="d_type" list="dtype_list" name='ill_bztype'>
                <option value="">全部</option>
                <option value="RECTANGLE">Rectangle</option>
                <option value="POLYGON">Polygon</option>
                <option value="HAND">Hand</option>
            </select>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="a_type">解剖位置</label>
            <input class="form-control" style="width: 200px;" type="text" id="aill_type" name="aill_type" placeholder="请输入位置类型">
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="doctor_a">标注解剖的医生</label>
            <input class="form-control" style="width: 200px;" type="text" id="doctor_a" list="named_list" name='doctor_a' placeholder="请选择医生姓名">
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="a_type">解剖标注类型</label>
            <select class="form-control" style="width: 200px;" id="a_type" name='jp_type'>
                <option value="">全部</option>
                <option value="RECTANGLE">Rectangle</option>
                <option value="POLYGON">Polygon</option>
                <option value="HAND">Hand</option>
            </select>
        </div>
        <small><em>快速建立“查看”链接索引</em></small>
        </div>
    </div>
</div>
    <div class="col-md-4">
        <div class="panel panel-default" style="width: 480px;height: 380px;margin: 0 auto;">
            <div class="panel-heading"><h3 class="panel-title">信息总览</h3></div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
<div style="text-align: center;margin-top: 20px;">
<input class="btn btn-primary" id="bquery" type="submit" value="查询">
</form>   
<button class="btn btn-default" style="margin-left: 20px;" data-toggle="modal" data-target="#addpatient">新增</button>
</div> 
</div> 
{% if error %}
<div class="alert alert-danger" style="margin:1% 1.5% 1% 1.5%;" role="alert"> 
    <p>{{ error }}</p>
</div> 
{% endif %} 


<div class="alert alert-success" id="tip" style="margin:1% 1.5% 1% 1.5%;text-align: center;" role="alert" hidden> 
    <p id="tip_c"></p>
</div> 
<div class="alert alert-success" id="tip2" style="margin:1% 1.5% 1%;text-align: center;" role="alert" hidden> 
    <p id="tip_c2"></p>
</div> 
  
<div class="modal fade" id="addpatient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 800px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addpa_t">新增患者</h4>
        </div>
        <div class="modal-body" style="text-align: center;">
            <form id="add_form" name="add_form" method="POST" class="form-horizontal">
                <div class="container-fluid">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name_add" class="col-sm-4 control-label">患者姓名：</label>
                            <input class="form-control" type="text" id="name_add" name="name" placeholder="输入患者姓名" value="" style="width: 220px;" required>
                        </div>
                        <div class="form-group">
                            <label for="sex_add" class="col-sm-4 control-label">患者性别：</label>
                            <select class="form-control" id="sex_add" name="sex" style="width: 220px;">
                                <option>男</option>
                                <option>女</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="age_add" class="col-sm-4 control-label">患者年龄：</label>
                            <input type="number" class="form-control" id="age_add" name="age" placeholder="输入患者年龄" max=120 min=0 style="width: 220px;" required>
                        </div>
                        <div class="form-group">
                            <label for="hos_add" class="col-sm-4 control-label">就诊医院：</label>
                            <input type="text" id="hos_add" class="form-control" placeholder="输入就诊医院" name="hos" list="hos_list" value="" style="width: 220px;" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">检查日期：</label>
                            <input class="form-control" type="date" id="date_add" name="checkdate" style="width: 220px;" required>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">检查编号：</label>
                            <input type="text" class="form-control" id="checkid_add" name="checkid" placeholder="输入检查编号" style="width: 220px;" required>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">病人编号：</label>
                            <input type="text" id="patientid_add" name="pid" class="form-control" placeholder="输入病人编号" style="width: 220px;" required>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">病人&nbsp;&nbsp;&nbsp;&nbsp;ID：</label>
                            <input type="text" id="id_add" class="form-control" placeholder="不填自动生成" name="id" style="width: 220px;">
                        </div>
                    </div>
                </div>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="submit" class="btn btn-primary" id="add_sub">确认</button> 
        </div>
    </form>
      </div>
    </div>
</div>


<div class="modal fade" id="editpatient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 800px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editpa_t">编辑患者</h4>
        </div>
        <div class="modal-body" style="text-align: center;">
            <form id="edit_form" name="edit_form" method="POST" class="form-horizontal">
            <div class="container-fluid">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name_edit" class="col-sm-4 control-label">患者姓名：</label>
                    <input class="form-control" type="text" id="name_edit" name="name" placeholder="输入患者姓名" value="" style="width: 220px;" required>
                </div>
                <div class="form-group">
                    <label for="sex_edit" class="col-sm-4 control-label">患者性别：</label>
                    <select class="form-control" id="sex_edit" name="sex" style="width: 220px;">
                        <option>男</option>
                        <option>女</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="age_edit" class="col-sm-4 control-label">患者年龄：</label>
                    <input type="number" class="form-control" id="age_edit" name="age" placeholder="输入患者年龄" max=120 min=0 style="width: 220px;" required>
                </div>
                <div class="form-group">
                    <label for="hos_edit" class="col-sm-4 control-label">就诊医院：</label>
                    <input type="text" id="hos_edit" class="form-control" placeholder="输入就诊医院" name="hos" list="hos_list" value="" style="width: 220px;" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">检查日期：</label>
                    <input class="form-control" type="date" id="date_edit" name="checkdate" style="width: 220px;" required>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">检查编号：</label>
                    <input type="text" class="form-control" id="checkid_edit" name="checkid" placeholder="输入检查编号" style="width: 220px;" required>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">病人编号：</label>
                    <input type="text" id="patientid_edit" name="pid" class="form-control" placeholder="输入病人编号" style="width: 220px;" required readonly>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">病人&nbsp;&nbsp;&nbsp;&nbsp;ID：</label>
                    <input type="text" id="id_edit" class="form-control" placeholder="不填自动生成" name="id" style="width: 220px;" readonly>
                </div>
            </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="submit" class="btn btn-primary" id="edit_sub">更新</button> 
        </div>
    </form>
      </div>
    </div>
</div>

<div style="margin-left:1.5%;margin-right: 1.5%;text-align: center;" id="result" hidden>
    <nav aria-label="Page navigation">
        <ul class="pagination">
          <li>
            <a href="javascript:$.nextpage(-1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        </ul>
      </nav>
<table class="table table-hover" border="2" id="retable">
    <tr id="ttitle" style="background-color: lightgrey;">
        <td></td>
        <td><strong>ID</strong></td>
        <td><strong>病人编号</strong></td>
        <td><strong>病人姓名</strong></td>
        <td><strong>性别</strong></td>
        <td><strong>年龄</strong></td>
        <td><strong>所在医院</strong></td>
        <td><strong>检查日期</strong></td>
        <td><strong>检查编号</strong></td>
        <td><strong>疾病标记数量</strong></td>
        <td><strong>解剖标记数量</strong></td>
    </tr>
</table>
</div>

<script>
    $.selectpage = function(num){
        $('.page'+pnow).hide();
        $("#ap"+pnow).attr("class","lpage")
        pnow=num;
        $("#ap"+pnow).attr("class","active lpage")
        $('.page'+pnow).show();
    }

    $.nextpage = function(num){
        if(pnow+num>page|pnow+num<1){
            return false
        }
        $('.page'+pnow).hide();
        $("#ap"+pnow).attr("class","lpage")
        pnow+=num;
        $("#ap"+pnow).attr("class","active lpage")
        $('.page'+pnow).show();
    }

    $("#add_form").submit(function() {
         $.ajax({
             url:'/patient_add/',
             type:'POST',
             data:$('#add_form').serialize(),
             success: function(data){
                 data = JSON.parse(data)
                 $("#tip").attr("class","alert alert-"+data.class)
                 if(data.class == "success"){
                     $("#add_form")[0].reset()
                 }
                 $("#tip").removeAttr("hidden")
                 $('#addpatient').modal('hide')
                 $("#tip_c").text(data.tip)
                 $.getContent()
             },
         });
         return false;
     })
 
     $("#edit_form").submit(function() {
         $.ajax({
             url:'/patient_add/?me=edit',
             type:'POST',
             data:$('#edit_form').serialize(),
             success: function(data){
                 data = JSON.parse(data)
                 $("#tip").attr("class","alert alert-"+data.class)
                 if(data.class == "success"){
                     $("#edit_form")[0].reset()
                 }
                 $("#tip").removeAttr("hidden")
                 $('#editpatient').modal('hide')
                 $("#tip_c").text(data.tip)
                 $.getContent()
             },
         });
         return false;
     })
     
     $.getPatient = function(ppid) {
         $.ajax({
             url:'/get_patient/',
             type:'POST',
             data:{pid:ppid},
             success: function(data){
                 data = JSON.parse(data)
                 Object.keys(data).map(function(key){
                     $('#edit_form  input').filter(function(){
                         //console.log(this.name,key)
                         return key == this.name;
                     }).val(data[key]);
                     $("#sex_edit").val(data.sex)
                 });
             }
         })
     };

     $.delpa = function(pid){
        $.ajax({
             url:'/del_patient/',
             type:'POST',
             data:{'pid':pid},
             success: function(data){
                data = JSON.parse(data)
                $("#tip").attr("class","alert alert-"+data.class)
                $("#tip").removeAttr("hidden")
                $("#tip_c").text(data.tip)
                $.getContent()
             }
         })
     }

     
     var page=1
     var pnow=1
     $("#query").submit($.getContent = function() {
         $("#bquery").attr("disabled","disabled")
         $("#bquery").val("查询中")
         $.ajax({
             url:'/query_patient/',
             type:'POST',
             data:$('#query').serialize(),
             success: function(data){
                $("#bquery").val("查询")
                $("#bquery").removeAttr("disabled")
                 data = JSON.parse(data)
                 $("#tip2").attr("class","alert alert-"+data.class)
                 $("#tip2").removeAttr("hidden")
                 $("#tip_c2").text("总共查询到"+data.patient_num+"个符合条件的病人")
                 $("#result").attr("hidden",'')
                 if(data.patient_num>0){$("#result").removeAttr("hidden")}
                 var st=''
                 page=1
                 for(var i=0;i<data.patient_num;i++){
                     if((i+1)%20==0){
                         page+=1
                     }
                     var pa=data.patient_id[i]
                 st=st+'<tr class="contentcol page'+page+'" hidden>\
        <td style="text-align: center;">\
            <a href="javascript:$('+"'#editpatient'"+').modal('+"'show'"+');$.getPatient('+pa[0]+')">编辑</a>\
            &nbsp;\
            <a href="javascript:$.delpa('+pa[0]+')">删除</a>\
        </td>\
        <td>'+pa[0]+'</td>\
        <td>'+pa[1]+'</td>\
        <td>'+pa[2]+'</td>\
        <td>'+pa[3]+'</td>\
        <td>'+pa[4]+'</td>\
        <td>'+pa[5]+'</td>\
        <td>'+pa[6]+'</td>\
        <td>'+pa[7]+'</td>\
        <td>\
            '+pa[8]+'\
            <a href="/query_detail/?id='+pa[0]+'&doctor='+$("#doctor_name").val()+'&type='+$("#illness_type").val()+'&ptype='+$("#d_type option:selected").val()+'">查看</a>\
        </td>\
        <td>\
            '+pa[9]+'\
            <a href="/query_adetail/?id='+pa[0]+'&doctor='+$("#doctor_a").val()+'&type='+$("#aill_type").val()+'&ptype='+$("#a_type option:selected").val()+'">查看</a>\
        </td>"'    
                 }
                $(".contentcol").remove()
                $("#retable").append(st)
                $(".page1").show()
                pnow = 1
                console.log(page)

                st=''
                $(".lpage").remove()
                for(var i=1;i<page+1;i++){
                    st+='<li class="lpage" id="ap'+i+'"><a href="javascript:$.selectpage('+i+')">'+i+'</a></li>'
                }
                st+='<li class="lpage">\
            <a href="javascript:$.nextpage(1)" aria-label="Next">\
              <span aria-hidden="true">&raquo;</span>\
            </a>\
          </li>'
                $(".pagination").append(st)
                $("#ap1").attr("class","active lpage")
             },
         });
         return false;
     })
 </script>
</body>
</html>