<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1-dist/css/bootstrap.css">
    <link rel="icon" href="/static/img/favicon.ico">
    <title>病人信息查询</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1-dist/css/mycss.css">
</head>
<body style="padding-top: 70px;padding-bottom: 70px;">
    <script type="text/javascript" src="/static/plugins/bootstrap-3.4.1-dist/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
<nav class="navbar navbar-inverse navbar-fixed-top ">
    <div class="container navbar-left" style="width: 30%;">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: azure;" href="/main/">医疗管理系统</a>
            <!--<p class="navbar-text">患者信息查询</p>-->
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/main/">主页</a></li>
                <li class="active"><a href="/query_patient/">患者信息</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">标注记录 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/query_detail/">疾病标注</a></li>
                    <li><a href="/query_adetail/">解剖标注</a></li>
                </ul>
                </li>
                <li><a href="/chart/">统计图表</a></li>
            </ul>
        </div>
    </div>
    <div class="container navbar-right" style="width: 20%;margin-right: 20px;">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li style="margin-right: 20px;"><p class="lip">{{request.user.first_name}},欢迎您</p></li>
                <li><a href="/logout/">退出</a></li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-inverse navbar-fixed-bottom ">
    <div class="container navbar-left" style="width: 45%;">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li style="margin-right: 20px;"><p class="lip"><em>Powered By</em></p></li>
                <li><a href="https://www.djangoproject.com/">Django</a></li>
                <li><a href="https://v3.bootcss.com/">Bootstrap V3</Var></a></li>
            </ul>
        </div>
    </div>
    <div class="container navbar-left" style="width: 15%;">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><p class="lip">2021 Created by Jimmy</p></li>
            </ul>
        </div>
    </div>
    <div class="container navbar-right" style="width: 25%;margin-right: 20px;">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
            <ul class="nav navbar-nav navbar-right">
                <li><a data-container="body" data-toggle="popover" data-placement="left" data-content="嘿嘿，交出你的联系方式！" href="#">联系我</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--<h1 style="text-decoration: line-through;">去TMD的查询表单</h1>-->
<div class="container-fluid" style="margin: 0 auto;">
<form id="query" class="form-horizontal">
<div class="col-md-4">
<div class="panel panel-default" style="width: 480px;height: 450px;margin: 0 auto;">
    <div class="panel-heading"><h3 class="panel-title">基础条件</h3></div>
    <div class="panel-body">
        <div class="form-group" style="margin-top:20px">
            <label class="col-sm-4 control-label" for="id_patient">患者ID</label>
            <input class="form-control" style="width: 200px;" type="text" id="id_patient" name="patientid" placeholder="请输入患者ID" autofocus>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="name_patient">患者姓名</label>
            <input class="form-control" style="width: 200px;" type="text" id="name_patient" name="patientname" placeholder="请输入患者姓名">
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="sex">患者性别</label>
            <select class="form-control" style="width: 200px;" id="sex" name='sex'>
                <option value="">全部</option>
                <option>男</option>
                <option>女</option>
            </select>
        </div>
        <div class="form-group form-inline">
            <label class="col-sm-4 control-label" for="age">患者年龄范围</label>
            <div class="input-group">
            <input class="form-control" type="number" id="ages" name="ages"  min=0 max=120 style="width: 65px;" placeholder="0">
            <span class="input-group-addon">≤年龄≤</span>
            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
            <input class="form-control" type="number" id="agee" name="agee"  min=0 max=120 style="width: 65px;" placeholder="120">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="check_date">起始检查时间</label>
            <input class="form-control" style="width: 200px;" type="date" id="date_from" name="datefrom" >
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="check_date">结束检查时间</label>
            <input class="form-control" style="width: 200px;" type="date" id="date_to" name="dateto" >
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="hospital">就诊医院</label>
            <select class="form-control hospital" style="width: 200px;" id="hospital_name" name='hospital'>
                <option value="">全部</option>
            </select>
        </div>
    </div>
</div>
</div>
<div class="col-md-4">
        <div class="panel panel-default" style="width: 480px;height: 450px;margin: 0 auto;">
            <div class="panel-heading"><h3 class="panel-title">高级条件</h3></div>
            <div class="panel-body" style="text-align: center;">
                <div style="margin-top: 10px;margin-bottom: 10px;">
                <strong>按疾病类型检索</strong>
            </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="illness_type">疾病类型</label>
            <input class="form-control" style="width: 200px;" type="text" id="illness_type" name="ill_type" placeholder="请输入疾病类型">
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="doctor_name">标注疾病的医生</label>
            <select class="form-control doctor" style="width: 200px;" id="doctor_name" name='doctor_name'>
                <option value="">全部</option>
            </select>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="d_type">疾病标注类型</label>
            <select class="form-control" style="width: 200px;" id="d_type" list="dtype_list" name='ill_bztype'>
                <option value="">全部</option>
                <option value="RECTANGLE">Rectangle</option>
                <option value="POLYGON">Polygon</option>
                <option value="HAND">Hand</option>
            </select>
        </div>
        <div style="margin-top: 10px;margin-bottom: 10px;">
            <strong>按解剖类型检索</strong>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="a_type">解剖位置</label>
            <input class="form-control" style="width: 200px;" type="text" id="aill_type" name="aill_type" placeholder="请输入位置类型">
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="doctor_a">标注解剖的医生</label>
            <select class="form-control doctor" style="width: 200px;" id="doctor_a" name='doctor_a'>
                <option value="">全部</option>
            </select>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="a_type">解剖标注类型</label>
            <select class="form-control" style="width: 200px;" id="a_type" name='jp_type'>
                <option value="">全部</option>
                <option value="RECTANGLE">Rectangle</option>
                <option value="POLYGON">Polygon</option>
                <option value="HAND">Hand</option>
            </select>
        </div>
        <small><em>快速建立“查看”链接索引</em></small>
        </div>
    </div>
</div>
    <div class="col-md-4">
        <div class="panel panel-default" style="width: 480px;height: 450px;margin: 0 auto;">
            <div class="panel-heading"><h3 class="panel-title">信息总览</h3></div>
            <div class="panel-body" style="text-align: center;">
                <br><br>
                <p style="font-size: medium;">
                本医学信息管理系统<br><br>
                截至目前，共有<br><br>
                医生&nbsp;<strong id="doc_num">666</strong>&nbsp;名<br><br>
                患者&nbsp;<strong id="pat_num">666</strong>&nbsp;名<br><br>
                涵盖医院&nbsp;<strong id="hos_num">666</strong>&nbsp;家<br><br>
                疾病标注&nbsp;<strong id="dis_num">666</strong>&nbsp;个<br><br>
                解剖标注&nbsp;<strong id="jp_num">666</strong>&nbsp;个</p>
            </div>
        </div>
    </div>
</div>
<div style="text-align: center;margin-top: 25px;">
<input class="btn btn-primary" id="bquery" type="submit" value="查询">
</form>   
<button class="btn btn-default" style="margin-left: 20px;" data-toggle="modal" data-target="#addpatient">新增</button>
</div> 
</div> 
{% if error %}
<div class="alert alert-danger" style="margin:1% 1.5% 1% 1.5%;" role="alert"> 
    <p>{{ error }}</p>
</div> 
{% endif %} 


<div class="alert alert-success" id="tip" style="margin:1% 1.5% 1% 1.5%;text-align: center;" role="alert" hidden> 
    <p id="tip_c"></p>
</div> 
<div class="alert alert-success" id="tip2" style="margin:1% 1.5% 1%;text-align: center;" role="alert" hidden> 
    <p id="tip_c2"></p>
</div> 
  
<div class="modal fade" id="addpatient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 800px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addpa_t">新增患者</h4>
        </div>
        <div class="modal-body" style="text-align: center;">
            <form id="add_form" name="add_form" method="POST" class="form-horizontal">
                <div class="container-fluid">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name_add" class="col-sm-4 control-label">患者姓名：</label>
                            <input class="form-control" type="text" id="name_add" name="name" placeholder="输入患者姓名" value="" style="width: 220px;" required>
                        </div>
                        <div class="form-group">
                            <label for="sex_add" class="col-sm-4 control-label">患者性别：</label>
                            <select class="form-control" id="sex_add" name="sex" style="width: 220px;">
                                <option>男</option>
                                <option>女</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="age_add" class="col-sm-4 control-label">患者年龄：</label>
                            <input type="number" class="form-control" id="age_add" name="age" placeholder="输入患者年龄" max=120 min=0 style="width: 220px;" required>
                        </div>
                        <div class="form-group">
                            <label for="hos_add" class="col-sm-4 control-label">就诊医院：</label>
                            <select id="hos_add" class="form-control hospital" name="hos" style="width: 220px;">
                                <option value="">全部</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">检查日期：</label>
                            <input class="form-control" type="date" id="date_add" name="checkdate" style="width: 220px;" required>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">检查编号：</label>
                            <input type="text" class="form-control" id="checkid_add" name="checkid" placeholder="输入检查编号" style="width: 220px;" required>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">病人编号：</label>
                            <input type="text" id="patientid_add" name="pid" class="form-control" placeholder="输入病人编号" style="width: 220px;" required>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">病人&nbsp;&nbsp;&nbsp;&nbsp;ID：</label>
                            <input type="text" id="id_add" class="form-control" placeholder="不填自动生成" name="id" style="width: 220px;">
                        </div>
                    </div>
                </div>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="submit" class="btn btn-primary" id="add_sub">确认</button> 
        </div>
    </form>
      </div>
    </div>
</div>


<div class="modal fade" id="editpatient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 800px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editpa_t">编辑患者</h4>
        </div>
        <div class="modal-body" style="text-align: center;">
            <form id="edit_form" name="edit_form" method="POST" class="form-horizontal">
            <div class="container-fluid">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name_edit" class="col-sm-4 control-label">患者姓名：</label>
                    <input class="form-control" type="text" id="name_edit" name="name" placeholder="输入患者姓名" value="" style="width: 220px;" required>
                </div>
                <div class="form-group">
                    <label for="sex_edit" class="col-sm-4 control-label">患者性别：</label>
                    <select class="form-control" id="sex_edit" name="sex" style="width: 220px;">
                        <option>男</option>
                        <option>女</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="age_edit" class="col-sm-4 control-label">患者年龄：</label>
                    <input type="number" class="form-control" id="age_edit" name="age" placeholder="输入患者年龄" max=120 min=0 style="width: 220px;" required>
                </div>
                <div class="form-group">
                    <label for="hos_edit" class="col-sm-4 control-label">就诊医院：</label>
                    <select id="hos_edit" class="form-control hospital" name="hos" style="width: 220px;">
                        <option value="">全部</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">检查日期：</label>
                    <input class="form-control" type="date" id="date_edit" name="checkdate" style="width: 220px;" required>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">检查编号：</label>
                    <input type="text" class="form-control" id="checkid_edit" name="checkid" placeholder="输入检查编号" style="width: 220px;" required>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">病人编号：</label>
                    <input type="text" id="patientid_edit" name="pid" class="form-control" placeholder="输入病人编号" style="width: 220px;" required readonly>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">病人&nbsp;&nbsp;&nbsp;&nbsp;ID：</label>
                    <input type="text" id="id_edit" class="form-control" placeholder="不填自动生成" name="id" style="width: 220px;" readonly>
                </div>
            </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="submit" class="btn btn-primary" id="edit_sub">更新</button> 
        </div>
    </form>
      </div>
    </div>
</div>

<div style="margin-left:1.5%;margin-right: 1.5%;text-align: center;" id="result" hidden>
    <nav aria-label="Page navigation">
        <ul class="pagination">
          <li>
            <a href="javascript:$.nextpage(-1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        </ul>
      </nav>
<table class="table table-hover" border="2" id="retable">
    <tr id="ttitle" style="background-color: lightgrey;">
        <td></td>
        <td><strong>ID</strong></td>
        <td><strong>病人编号</strong></td>
        <td><strong>病人姓名</strong></td>
        <td><strong>性别</strong></td>
        <td><strong>年龄</strong></td>
        <td><strong>所在医院</strong></td>
        <td><strong>检查日期</strong></td>
        <td><strong>检查编号</strong></td>
        <td><strong>疾病标记数量</strong></td>
        <td><strong>解剖标记数量</strong></td>
    </tr>
</table>
</div>

<script type="text/javascript" src="/static/js/query.js"></script>
</body>
</html>