<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1-dist/css/bootstrap.css">
    <title>病人信息查询</title>
</head>
<body style="padding-top: 70px;padding-bottom: 70px">
<script type="text/javascript" src="/static/plugins/bootstrap-3.4.1-dist/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/static/plugins/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
<nav class="navbar navbar-inverse navbar-fixed-top ">
    <div class="container navbar-left">
        <div class="navbar-header">
            <a class="navbar-brand" href="/main/">医疗管理系统</a>
            <!--<p class="navbar-text">患者信息查询</p>-->
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/main/">主页</a></li>
              <li class="active"><a href="/query_patient/">患者信息</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">标注记录 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/query_detail/">疾病标注</a></li>
                    <li><a href="/query_adetail/">解剖标注</a></li>
                </ul>
              </li>
            </ul>
          </div>
    </div>
</nav>
<nav class="navbar navbar-inverse navbar-fixed-bottom ">
    <div class="container navbar-left" style="width: 45%;">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#"><em>Powered By</em></a></li>
                <li><a href="https://www.djangoproject.com/">Django</a></li>
                <li><a href="https://v3.bootcss.com/">Bootstrap V3</Var></a></li>
            </ul>
        </div>
    </div>
    <div class="container navbar-left" style="width: 15%;">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><a href="#">2021 Created by Jimmy</a></li>
            </ul>
        </div>
    </div>
    <div class="container navbar-right" style="width: 8%;">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
            <ul class="nav navbar-nav">
                <li><a href="/">联系我</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--<h1 style="text-decoration: line-through;">去TMD的查询表单</h1>-->
<div class="container-fluid" style="margin: 0 auto;">
<form action="/query_patient/" method="post">
<div class="col-md-4">
<div class="panel panel-default" style="width: 480px;height: 320px;margin: 0 auto;">
    <div class="panel-heading">基础条件</div>
    <div class="panel-body">
    
        {% csrf_token %}
        <p>
            <label for="id_patient">请输入病人ID</label>
            <input type="text" id="id_patient" name="patientid" value="{{obj.patientid}}" placeholder="病人ID" autofocus>
        </p>
        <p>
            <label for="sex">请选择患者性别</label>
            <input type="text" id="sex" list="sex_list" name='sex' value="{{ obj.sex }}" placeholder="患者性别">
            <datalist id="sex_list">
                <option>男</option>
                <option>女</option>
            </datalist>
        </p>
        <p style="right:0%">
            <label for="age">请选择患者年龄范围</label>
            <input type="number" id="ages" name="ages" value={{obj.ages}} min=0 max=120 style="width: 50px;" placeholder="0"> ≤ 年龄 ≤ 
            <input type="number" id="agee" name="agee" value={{obj.agee}} min=0 max=120 style="width: 50px;" placeholder="120">
        </p>
        <p>
            <label for="check_date">请输入起始检查时间</label>
            <input type="date" id="date_from" name="datefrom" value="{{obj.datefrom}}">
        </p>
        <p>
            <label for="check_date">请输入结束检查时间</label>
            <input type="date" id="date_to" name="dateto" value="{{obj.dateto}}">
        </p>
        <p>
            <label for="hospital">请选择就诊医院</label>
            <input type="text" id="hospital_name" list="hos_list" name='hospital' value="{{ obj.hospital }}" placeholder="医院名字">
            <datalist id="hos_list">
                <option>邵逸夫医院</option>
                <option>浙江大学医学院第二附属医院</option>
                <option>宁波大学附属医院</option>
                <option>上虞人民医院</option>
                <option>浙江省中医院</option>
                <option>杭州市第一人民医院</option>
                <option>台州医院</option>
                <option>丽水中心医院</option>
                <option>余姚人民医院</option>
                <option>宁波李惠利东部医院</option>
                <option>瑞安人民医院</option>
                <option>福建省立医院</option>
                <option>德清医院</option>
                <option>丽水人民医院</option>
                <option>山西省人民医院</option>
                <option>湖州人民医院</option>
                <option>安贞医院</option>
                <option>嘉兴市第一医院</option>
                <option>西安市中心医院</option>
                <option>龙游县人民医院</option>
                <option>兰州二院</option>
                <option>金华市中心医院</option>
                <option>上海市肿瘤医院宁波病理中心</option>
                <option>乐清人民医院</option>
            </datalist>
        </p>
    </div>
</div>
</div>
<div class="col-md-4">
        <div class="panel panel-default" style="width: 480px;height: 320px;margin: 0 auto;">
            <div class="panel-heading">高级条件</div>
            <div class="panel-body">
                
        <p>
            <label for="doctor_name">请选择标注疾病的医生</label>
            <input type="text" id="doctor_name" list="named_list" name='doctor_name' value="{{obj.doctor_name}}" placeholder="医生姓名">
            <datalist id="named_list">
                <option>陈飞</option>
                <option>胡伟玲</option>
                <option>杨远航</option>
                <option>张旭</option>
                <option>郑文芳</option>
                <option>胡梦佳</option>
                <option>余涛</option>
                <option>陈睿</option>
                <option>章鑫森</option>
                <option>李晶晶</option>
                <option>林讷</option>
                <option>鄢雪辉</option>
                <option>吕凯琪</option>
                <option>钟兴伟</option>
                <option>刘志红</option>
                <option>李均</option>
                <option>杜平</option>
                <option>张哲</option>
            </datalist>
        </p>
        <p>
            <label for="doctor_a">请选择标注解剖的医生</label>
            <input type="text" id="doctor_a" list="name_list" name='doctor_a' value="{{obj.doctor_a}}" placeholder="医生姓名">
            <datalist id="name_list">
                <option>陈飞</option>
                <option>胡伟玲</option>
                <option>杨远航</option>
                <option>张旭</option>
                <option>郑文芳</option>
                <option>胡梦佳</option>
                <option>余涛</option>
                <option>陈睿</option>
                <option>章鑫森</option>
                <option>李晶晶</option>
                <option>林讷</option>
                <option>鄢雪辉</option>
                <option>吕凯琪</option>
                <option>钟兴伟</option>
                <option>刘志红</option>
                <option>李均</option>
                <option>杜平</option>
                <option>张哲</option>
            </datalist>
        </p>
        <p>
            <label for="illness_type">请输入疾病类型</label>
            <input type="text" id="illness_type" name="ill_type" value="{{obj.ill_type}}" placeholder="疾病类型">
        </p>
        <p>
            <label for="a_type">请输入解剖位置</label>
            <input type="text" id="aill_type" name="aill_type" value="{{obj.aill_type}}" placeholder="位置类型">
        </p>
        <p>
            <label for="d_type">请选择疾病标注类型</label>
            <input type="text" id="d_type" list="dtype_list" name='ill_bztype' value="{{obj.ill_bztype}}" placeholder="标注类型">
            <datalist id="dtype_list">
                <option value="RECTANGLE">Rectangle</option>
                <option value="POLYGON">Polygon</option>
                <option value="HAND">Hand</option>
            </datalist>
        </p>
        <p>
            <label for="a_type">请选择解剖标注类型</label>
            <input type="text" id="a_type" list="atype_list" name='jp_type' value="{{obj.jp_type}}" placeholder="标注类型">
            <datalist id="atype_list">
                <option value="RECTANGLE">Rectangle</option>
                <option value="POLYGON">Polygon</option>
                <option value="HAND">Hand</option>
            </datalist>
        </p>
        <small><em>快速建立“查看”链接索引</em></small>
        </div>
    </div>
</div>
    <div class="col-md-4">
        <div class="panel panel-default" style="width: 480px;height: 320px;margin: 0 auto;">
            <div class="panel-heading">信息总览</div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
<div style="margin: 20px 45%">
<input class="btn btn-default" type="submit" value="查询">
</form>   
<button class="btn btn-default" style="margin-left: 20px;" data-toggle="modal" data-target="#addpatient">新增</button>
</div> 
</div> 
{% if error %}
<div class="alert alert-danger" style="margin:1% 1.5% 1% 1.5%;" role="alert"> 
    <p>{{ error }}</p>
</div> 
{% endif %} 


<div class="alert alert-success" id="tip" style="margin:1% 1.5% 1% 1.5%;text-align: center;" role="alert" hidden> 
    <p id="tip_c"></p>
</div> 


{% if patient_num %}
<div class="alert alert-success" style="margin:1% 1.5% 1% 1.5%;text-align: center;" role="alert"> 
    <p>总共查询到{{ patient_num }}个符合条件的病人</p>
</div> 
{% endif %} 
  
  

<div class="modal fade" id="addpatient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addpa_t">新增患者</h4>
        </div>
        <div class="modal-body" style="text-align: center;">
            <form id="add_form" name="add_form" method="POST">
                {% csrf_token %}
                <p>
                    <label for="user">患者姓名：</label>
                    <input type="text" id="name_add" name="name" placeholder="输入患者姓名" value="" style="width: 150px;" required>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>检查日期：</label>
                    <input type="date" id="date_add" name="date" required>
                </p>
                <p>
                    <label for="sex_add">患者性别：</label>
                    <select id="sex_add" name="sex" style="width: 150px;height: 25px;">
                        <option>男</option>
                        <option>女</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>检查编号：</label>
                    <input type="text" id="checkid_add" name="checkid" placeholder="输入检查编号" style="width: 150px;" required>
                </p>
                <p>
                    <label for="age_add">患者年龄：</label>
                    <input type="number" id="age_add" name="age" placeholder="输入患者姓名" style="width: 150px;" value="" required>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>病人编号：</label>
                    <input type="text" id="patientid_add" name="patientid" placeholder="输入病人编号" style="width: 150px;" required>
                </p>
                <p>
                    <label for="hos_add">就诊医院：</label>
                    <input type="text" id="hos_add" placeholder="输入患者姓名" name="hos" list="hos_list" value="" style="width: 150px;" required>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>病人&nbsp;&nbsp;&nbsp;&nbsp;ID：</label>
                    <input type="text" id="id_add" placeholder="不填自动生成" name="id" style="width: 150px;">
                </p>
           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="submit" class="btn btn-primary" id="add_sub">确认</button> 
        </form>
        </div>
      </div>
    </div>
</div>

<script>
   $("#add_form").submit(function() {
    //$("#add_sub").click(function(){
        $.ajax({
            url:'/patient_add/',
            type:'POST',
            data:$('#add_form').serialize(),
            success: function(data){
                data = JSON.parse(data)
                $("#tip").removeAttr("hidden")
                $('#addpatient').modal('hide')
                $("#tip_c").text(data.tip)
            },
        });
        return false;
    })
</script>

{% if patient_id %}
<div style="margin-left:1.5%;margin-right: 1.5%;">
<table class="table table-hover" border="1">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Gender</td>
        <td>Age</td>
        <td>Hospital</td>
        <td>Check Date</td>
        <td>疾病标记数量</td>
        <td>解剖标记数量</td>
    </tr>
    {% for id,name,sex,age,hospital,check_date,d_num,a_num in patient_id %}
    <tr>
        <td>{{ id }}</td>
        <td>{{ name }}</td>
        <td>{{ sex }}</td>
        <td>{{ age }}</td>
        <td>{{ hospital }}</td>
        <td>{{ check_date }}</td>
        <td>
            {{ d_num }}
            <a href='javascript:document.form{{ id }}.submit();'>查看</a>
            <form name='form{{ id }}' action="/query_detail/" method="post">
                {% csrf_token %}
                <input type="hidden" name='pid' value={{ id }} >
                <input type="hidden" name='doctor_name' value={{ obj.doctor_name }} >
                <input type="hidden" name='bztype' value={{ obj.ill_bztype }} >
                <input type="hidden" name='da_type' value={{ obj.ill_type }} >
            </form>
        </td>
        <td>
            {{ a_num }}
            <a href='javascript:document.form{{ id }}2.submit();'>查看</a>
            <form name='form{{ id }}2' action="/query_adetail/" method="post">
                {% csrf_token %}
                <input type="hidden" name='pid' value={{ id }} >
                <input type="hidden" name='doctor_name' value={{ obj.doctor_a }} >
                <input type="hidden" name='bztype' value={{ obj.jp_type }} >
                <input type="hidden" name='da_type' value={{ obj.aill_type }} >
            </form>
        </td>
        </tr>
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}

</body>
</html>